body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
}

ul > li {
    margin-right: 16px;
}

.profileImage {
    width: 200px;
    height: 250px;
}

.cardStyle {
    display: flex;
    flex-direction: column;
    width: 200px;
}